spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://${DATABASE.HOST}:${DATABASE.PORT}/${DATABASE.NAME}?useUnicode=true&characterEncoding=utf8&autoReconnect=true&serverTimezone=UTC&useSSL=false
    username: ${DATABASE.USERNAME}
    password: ${DATABASE.PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
      format_sql: none
    generate-ddl: false