spring:
  datasource:
    url: jdbc:h2:mem:test
    username: root
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    generate-ddl: true

  security:
decorator:
  datasource:
    p6spy:
      enable-logging: true

#    oauth2:
#      client:
#        registration:
#          google:
#            redirect-uri: '{baseUrl}/{action}/oauth2/code/{registrationId}'
#            client-name: Google
#            scope: profile
#          kakao:
#            scope:
#            client-name: Kakao
#            authorization-grant-type: authorization_code
#            redirect-uri: '{baseUrl}/{action}/oauth2/code/{registrationId}'
#            client-authentication-method: POST
#          naver:
#            redirect-uri: '{baseUrl}/{action}/oauth2/code/{registrationId}'
#            scope: name
#            authorization-grant-type: authorization_code
#        provider:
#          kakao:
#            authorization-uri: https://kauth.kakao.com/oauth/authorize
#            token-uri: https://kauth.kakao.com/oauth/token
#            user-info-uri: https://kapi.kakao.com/v2/user/me
#            user-name-attribute: id
#          naver:
#            authorization-uri: https://nid.naver.com/oauth2.0/authorize
#            token-uri: https://nid.naver.com/oauth2.0/token
#            user-info-uri: https://openapi.naver.com/v1/nid/me
#            user-name-attribute: response